

<%- include('static/header') %>

			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">Natfidelity Dashboard</h1>

					<div class="row">
						<div class="col-xl-12 col-xxl-5 d-flex">
							<div class="w-100">
								<div class="row">
									<div class="col-sm-6">
										<div class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">Create Account</h5>
													</div>
												</div>
												<!-- beginning of hold form-->
											    <div>
													<p id="msg" style="color:forestgreen"></p>
													<form id="createAccount">
												    <input type="text" class="form-control" name="heading" id="name" placeholder="Account Name Here ..." required style="margin-bottom: 2%;">
													 <input type="text" class="form-control" name="" id="password" placeholder="Passeord Here ..."  required style="margin-bottom: 2%;">
													<button type="submit" class=" btn btn-primary" sty>Create Acount</button>
											       </form>
												</div><!-- end of hold form-->
												
											</div>
										</div>
										<div class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">Upload Bank</h5>
													</div>

													<!-- beginning of hold form-->
											    <div x-data="teams_form()">
													<p id="bank_msg" style="color:forestgreen"></p>
													<form id="loadbank">
													  <input type="text" class="form-control"  id="accountName" placeholder="Account Name Here ..." required style="margin-bottom: 2%;">
												    <input type="text" class="form-control"  id="bankName" placeholder="Bank Name Here ..." required style="margin-bottom: 2%;">
													
													<button type="submit" class=" btn btn-primary" >Uplaod Programs</button>
											       </form>
												</div><!-- end of hold form-->
												
											</div>
												
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">Update Account Balance</h5>
													</div>
													 <div id='update_msg'></div>
													 <form  id="updateBalance" >
												      
													  <div class="row">

														<!-- beginning of hold form-->
											          <div class="col-md-6">
                                                            <input type="text" class="form-control"  id="accountNumber" placeholder="Enter number of number" required>
													  </div>  

													   <div class="col-md-6">
															 <input type="text" id="balance"  class="form-control" placeholder="Balance" style="margin-top:2%" required>
													  </div> 


													   <div class="col-md-6">
															   <input type="text" id="income"  class="form-control" placeholder="Income" style="margin-top:2%; margin-bottom: 2%;" required>
													  </div> 


													   <div class="col-md-6">
																<input type="text" id="expenses"  class="form-control" placeholder="Expenses" style="margin-top:2%; margin-bottom: 2%;" required>
													  </div> 

													   <div class="col-md-6">
														<input type="text" id="totalBill"  class="form-control" placeholder="Total Bills" style="margin-top:2%; margin-bottom: 2%;" required>
													  </div> 

													  <div class="col-md-6">
														  <input type="text" id="savings"  class="form-control" placeholder="Savings" style="margin-top:2%; margin-bottom: 2%;" required>
													  </div>
                                                        <div class="col-md-12" style="margin-left: 40%;">
															<button type="submit" class=" btn btn-primary" sty>Update</button>
														</div>

													  </div>
													
												     
									                    
												    
											       </form>
													
													  
												
												</div>
												
											</div>
										</div>
										<div class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">Debit Transaction</h5>
													</div>

													
												<div class="mb-0">
													<span class="text-muted">Upcoming update on transactions</span>
												</div><!-- end of muted text form-->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						
					</div>


					<div class="row">
						<div class="col-12 col-lg-12 col-xxl-9 d-flex">
							<div class="card flex-fill">
								<div class="card-header">

									<h5 class="card-title mb-0">Volunteers</h5>
								</div>
								<!--<table class="table table-hover my-0">
									<thead>
										<tr>
											<th>Name</th>
											<th class="d-none d-xl-table-cell">Start Date</th>
											<th class="d-none d-xl-table-cell">End Date</th>
											<th>Status</th>
											<th class="d-none d-md-table-cell">Assignee</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Project Apollo</td>
											<td class="d-none d-xl-table-cell">01/01/2023</td>
											<td class="d-none d-xl-table-cell">31/06/2023</td>
											<td><span class="badge bg-success">Done</span></td>
											<td class="d-none d-md-table-cell">Vanessa Tucker</td>
										</tr>
										<tr>
											<td>Project Fireball</td>
											<td class="d-none d-xl-table-cell">01/01/2023</td>
											<td class="d-none d-xl-table-cell">31/06/2023</td>
											<td><span class="badge bg-danger">Cancelled</span></td>
											<td class="d-none d-md-table-cell">William Harris</td>
										</tr>
										<tr>
											<td>Project Hades</td>
											<td class="d-none d-xl-table-cell">01/01/2023</td>
											<td class="d-none d-xl-table-cell">31/06/2023</td>
											<td><span class="badge bg-success">Done</span></td>
											<td class="d-none d-md-table-cell">Sharon Lessman</td>
										</tr>
										<tr>
											<td>Project Nitro</td>
											<td class="d-none d-xl-table-cell">01/01/2023</td>
											<td class="d-none d-xl-table-cell">31/06/2023</td>
											<td><span class="badge bg-warning">In progress</span></td>
											<td class="d-none d-md-table-cell">Vanessa Tucker</td>
										</tr>
										<tr>
											<td>Project Phoenix</td>
											<td class="d-none d-xl-table-cell">01/01/2023</td>
											<td class="d-none d-xl-table-cell">31/06/2023</td>
											<td><span class="badge bg-success">Done</span></td>
											<td class="d-none d-md-table-cell">William Harris</td>
										</tr>
										<tr>
											<td>Project X</td>
											<td class="d-none d-xl-table-cell">01/01/2023</td>
											<td class="d-none d-xl-table-cell">31/06/2023</td>
											<td><span class="badge bg-success">Done</span></td>
											<td class="d-none d-md-table-cell">Sharon Lessman</td>
										</tr>
										<tr>
											<td>Project Romeo</td>
											<td class="d-none d-xl-table-cell">01/01/2023</td>
											<td class="d-none d-xl-table-cell">31/06/2023</td>
											<td><span class="badge bg-success">Done</span></td>
											<td class="d-none d-md-table-cell">Christina Mason</td>
										</tr>
										<tr>
											<td>Project Wombat</td>
											<td class="d-none d-xl-table-cell">01/01/2023</td>
											<td class="d-none d-xl-table-cell">31/06/2023</td>
											<td><span class="badge bg-warning">In progress</span></td>
											<td class="d-none d-md-table-cell">William Harris</td>
										</tr>
									</tbody>
								</table>-->
							</div>
						</div>
					</div>

				</div>
			</main>

		<%- include('static/footer') %>
